<ion-view view-title="Album">
	<ion-content>

		<div class="list card" ng-repeat="photo in photoList">
		  <div class="item item-text-wrap">
		    <h2>{{photo.info.photo.title['_content']}}</h2>
		  </div>

		  <div class="item item-image" style="min-height:100px">
		    <img alt="{{photo.info.photo.title['_content']}}"zoom-view ng-src="{{photo.sizes.sizes.size[5].source}}">
		  </div>

		  <div class="item item-text-wrap" ng-show="photo.info.photo.description['_content']" >
		    <p>
		    	{{photo.info.photo.description['_content']}}
		    </p>
		  </div>
		</div>
	</ion-content>
</ion-view>